.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #7e6a94;
  padding: 10px;
}

.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
  
  header, footer {
    background-color: #7e6a94;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    flex: 2;
    background-color: #7e6a94;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .main-content > div {
    background-color: #7e6a94;
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
  }
  
  .sidebar {
    flex: 1;
    background-color: #7e6a94;
    padding: 20px;
  }