.container {
  display: flex;
  flex-direction: row;
  background-color: #7e6a94;
}

.container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}

header {
    background-color: #7e6a94;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .main-content > div {
    background-color: #7e6a94;
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
  }

  .main-content div {
  margin-top: 15px; /* Adds space above your purple boxes */
  margin-bottom: 5px;
}

.main-content p {
  margin-bottom: 20px; /* Adds space after the text before the next box */
  line-height: 1.6;    /* Makes the paragraph text easier to read */
}
  
  .sidebar {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
  }