.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  header, footer {
    background-color: #7e6a94;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    flex: 2;
    background-color: #7e6a94;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .main-content > div {
    background-color: #7e6a94;
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
  }
  
  .sidebar {
    flex: 1;
    background-color: #7e6a94;
    padding: 20px;
  }